DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=django-insecure-change-this-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
PORT=8000
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60

MYSQL_DATABASE=todo_app
MYSQL_USER=todo_user
MYSQL_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
